.card {
  opacity: 0;
  border-radius: 16px;
  animation: 1s ease-out slideInFromLeft forwards;
  left: 50%;
  width: 90vw;
  position: relative;
  margin: 10VH 0 1rem -45vw;
  background-color: #fff;
  transition: box-shadow .25s;
}
.card-content{
  padding-top: 16px;
}
.card-content > div{
  margin-top: 16px;
  padding-top: 8px;
  font-size: large;
}
.container {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 65%;
  height: 120%;
  width: 100%;
}
.self-img {
  width: 400px;
  border-radius: 64px;
  position: relative;
  top: 0;
  left: 50%;
  margin-left: -200px;
  max-width: 400px;
  margin-bottom: -94px;
  cursor: pointer;
}
.title {
  font-weight: 800;
  color: transparent;
  font-size: 120px;
  background: url("/assets/images/backgrounds/yangbg3.png") repeat;
  background-position: 20% 100%;
  object-fit: cover;
  -webkit-background-clip: text;
  background-size: 960px 540px;
  position: relative;
  text-align: center;
  line-height: 90px;
  letter-spacing: -8px;
  text-shadow: rgba(40, 50, 50, 20%) 1px 0px 10px;
}
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .self-img {
    margin-left: -175px;
    max-width: 350px;
  }
  .title {
    font-weight: 800;
    font-size: 88px;
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .self-img {
    margin-left: -175px;
    max-width: 350px;
  }
  .title {
    font-weight: 800;
    font-size: 88px;
  }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .self-img {
    margin-left: -175px;
    max-width: 350px;
  }
  .title {
    font-weight: 800;
    font-size: 88px;
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .self-img {
    margin-left: -175px;
    max-width: 350px;
  }
  .title {
    font-weight: 800;
    font-size: 88px;
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .self-img {
    margin-left: -150px;
    max-width: 300px;
  }
  .title {
    font-weight: 800;
    font-size: 80px;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .self-img {
    width: 250px;
    margin-left: -125px;
    max-width: 250px;
  }
  .title {
    font-weight: 750;
    font-size: 72px;
  }
  .card-content > div{
    font-size: medium;
  }
}
/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (max-width: 320px) {

  .self-img {
    margin-left: -100px;
    max-width: 200px;
  }
  .title {
    font-weight: 700;
    font-size: 64px;
  }
  .card-content > div {
    font-size: small;
  }
}

@keyframes slideInFromLeft {
  0% {
    opacity:0;
    transform: translateY(-100%);
  }
  40%{
    opacity: 0;
  }
  80%{
    transform: translateY(0%);
  }
  90%{
    transform: translateY(1%);
  }
  100% {
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    opacity: 1;
    transform: translateY(0);
  }
}

