@keyframes slideInFromLeft {
  0% {
    opacity:0;
    transform: translateY(-100%);
  }
  40%{
    opacity: 0;
  }
  80%{
    transform: translateY(0%);
  }
  90%{
    transform: translateY(1%);
  }
  100% {
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    opacity: 1;
    transform: translateY(0);
  }
}

iframe{
  alignment: center;
}
li{
  background: white;
  border-radius: 25px
}
li.active{
  background-color: black;
  border-radius: 25px;
}
.body,height{
  height: 100%;
}
.btn{
  background-color: white !important;
  color: black;
  text-transform: none;
}
.card {
  opacity: 0;
  border-radius: 16px;
  animation: 1s ease-out slideInFromLeft forwards;
  margin-top: 15vh;
  left: 50%;
  width: 800px;
  margin-left: -400px;
}
.card-content{
    padding-top: 16px;
  }
.card-content > div{
  margin-top: 16px;
  padding-top: 0px;
  font-size: large;
}
.card-title{
  border-radius: 16px;
  padding-top: 0px;
  padding-left: 16px;
  padding-bottom: -32px;
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  color: #FFFFFF;
  background: #5388ab;
  box-shadow: 0px 2px 4px grey;
}
.container {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 65%;
  height: 120%;
  width: 100%;
}
.header {
  font-family: 'Open Sans', sans-serif;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  font-size: 72px;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: hsl(0, 0%, 00%) 3px 2px 0;
  position: relative;
  text-underline: #000000;
}
.header-container{
  margin-top: 100px;
}


.image {
  margin: auto;
  max-width: 256px;
  max-height: 256px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax-container{
  border-bottom-left-radius: 5% !important;
  border-bottom-right-radius: 5% !important;
}
.title {
  font-weight: 800;
  color: transparent;
  font-size: 120px;
  background: url("/assets/images/backgrounds/yangbg3.png") repeat;
  background-position: 20% 100%;
  object-fit: cover;
  -webkit-background-clip: text;
  background-size: 960px 540px;
  position: relative;
  text-align: center;
  line-height: 90px;
  letter-spacing: -8px;
  text-shadow: rgba(40, 50, 50, 20%) 1px 0px 10px;
}
.self-img {
  width: 400px;
  border-radius: 64px;
  position: relative;
  top: 0;
  left: 50%;
  margin-left: -200px;
  max-width: 400px;
  margin-bottom: -94px;
  cursor: pointer;
}
#date {
  padding-right: 16px;
}


