<div class="container">
  <img (click)="router.navigate('')" class="self-img z-depth-1" src="../../assets/images/people/ProfessionalPicJonny.png"/>
  <ul class="socialmedia-wrapper">
    <li *ngFor="let data of socialMediaData"  (click)="onMediaClick(data.route)"> <img [src]="data.img" width="40px" height="40px"/></li>
  </ul>
  <div class="title">Jonny Deates</div>
    <div class="card center hoverable" [style.animation-delay]="1+'s'">
      <div class="card-content">
        <div *ngFor="let paragraph of description"> {{paragraph}}</div>
      </div>
    </div>
</div>
