.ProjectList {
    position: relative;
    height: 80vh;

}

.ProjectsButtonGroup {
    position: absolute;
    width: 100vw;
    bottom: 0;
    z-index: 5;
    justify-content: space-between;
    display: flex;
}

