.ProjectsButtonGroup {
    position: absolute;
    width: 100vw;
    bottom: 0;
    z-index: 5;
    justify-content: space-between;
    display: flex;
}

@keyframes show {
    0% {
        filter: blur(5px);
        transform: translateY(calc(-50% + 75px));
    }
    100% {
        opacity: 1;
        filter: blur(0);
    }
}