h1 {
  font-weight: 700;
  color: white;
}
.applications-wrapper {
  position: relative;
  /* top: 50%; */
  left: -140px;
  max-width: 300px;
  display: inline-flex;
}.applications-wrapper > img{
   top: 50%;
   position: relative;
  max-width: 25px;
  max-height: 25px;
  padding-left: 4px;
}
.card {
  opacity: 1;
  margin-top: 32px;
  border-radius: 16px;
  width: 1000px;
  animation: 1s ease-out slideInFromLeft forwards;
}

.card-content {
  margin-top: 16px;
  padding-top: 0;
  display: inline-flex;
  width: 830px;
  max-height: 284px;
  max-width: 830px;
}

.card-title {
  border-radius: 16px;
  padding: 0 0 0 16px;
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  color: #FFFFFF;
  background: #72b7e9;
  box-shadow: 0 2px 4px grey;
  display: inline-flex;
  max-width: 164px;
  height: 300px;
}
.card:nth-child(odd) > .filter-wrapper > .card-title  {
  background-color: #3792d4;
  position: relative;
  right: -836px;
}
.card:nth-child(odd) > .filter-wrapper > .card-content {
  position: relative;
  width: 830px;
  max-width: 830px;
  max-height: 284px;
  left: -174px;
}

.embedded {
  overflow: auto;
  padding: 0 16px 0 16px;
}

.embedded::-webkit-scrollbar {
  width: 10px;
}

.embedded::-webkit-scrollbar-track {
  background: #ffffff;
}

.embedded::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 16px;
}

.embedded::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.header {
  font-family: 'Open Sans', sans-serif;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  font-size: 72px;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: hsl(0, 0%, 00%) 3px 2px 0;
  position: relative;
  text-underline: #000000;
}

.header-container {
  margin-top: 100px;
}
.hRef {
  position: absolute;
  background-color: #72b7e9;
  height: fit-content;
  padding: 0 5px 0 10px;
  border-radius: 0 20px 20px 0;
  top: 230px;
  left: 162px;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.14), 3px 3px 1px -2px rgba(0,0,0,0.12), 3px 1px 3px 0 rgba(0,0,0,0.2);
  content: '';
  cursor: pointer;
}
.card:nth-child(even) > .filter-wrapper > .card-title > .hRef:after {
  content: '>'
}
.card:nth-child(odd) > .filter-wrapper > .card-title > .hRef {
  content: '<';
  left: -32px;
  border-radius: 20px 0 0 20px;
  padding: 0 10px 0 5px;
  background-color: #3792d4;
  box-shadow: -2px 2px 2px 0 rgba(0,0,0,0.14), -1px 1px 0px -2px rgba(0,0,0,0.12), -2px 1px 3px 0 rgba(0,0,0,0.2);
}
.card:nth-child(odd) > .filter-wrapper > .card-title > .hRef:after {
  content: '<';
}
.parallax-container {
  width: 100%;
  height: 100%;
}

#date {
  padding-right: 16px;
  display: inline-flex;
  position: absolute;
  top: 274px;
  left: 74px;
  font-size: large;
}

@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  40% {
    opacity: 0;
  }
  80% {
    transform: translateY(0%);
  }
  90% {
    transform: translateY(1%);
  }
  100% {
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 1;
    transform: translateY(0);
  }
}
