.nav {
    justify-content: center;
    display: flex;
    position: fixed;
    width: 100vw;
    padding: 0;
    z-index: 3;
    background-color: #ffffff;
}

.nav > div > a {
    font-size: x-large;
    padding: 8px 10px;
    margin: 0 4px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    background-color: #ffffffaa;
}

.active {
    background-color: #00000011 !important;

}
@media (min-width: 480px) {
    .nav {
        background-color: unset;
        justify-content: flex-end;
    }
    .nav > div > a {
        padding: 8px 16px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
    .active {
        box-shadow: 3px 4px 5px 2px rgba(255, 255, 255, 0.1), 1px 2px 2px 1px rgba(200, 200, 200, 0.3);
        background-color: #ffffff !important;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
}
