.SectionBody  {
    padding: 1rem;
    justify-content: space-evenly;
    display: flex;
}
.SectionText {
    width: 50%;
    text-align: left;
}
.SectionText h2 {
    margin: 0;
    font-size: 2rem;
}
.SectionText p {
    line-height: 1.5rem;
}
