<div *ngIf="namesModel" class="model-names-wrapper">
<div class="model-names">
  <div id="names">
    <div class="input-field z-depth-1">
      <input id="player1" type="text" class="validate">
      <label for="player1">Player 1's Name</label>
    </div>
    <div class="input-field z-depth-1">
      <input id="player2" type="text" class="validate">
      <label for="player2">Player 2's Name</label>
    </div>
  </div>
  <div class="btn-floating waves-effect" (click)="startGame()">Start</div>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="card col s8 offset-s2 ">
      <div class="card-content">
        <div class="card-title">
          <h3 class="center col s8 offset-s2">{{'Player ' + (this.turn ? 2 : 1) + "'s turn"}}</h3>
          <div class="card col s2" style="background-color: white">
            <div class="card-content center-align">
              <h4>{{(this.turn ? 'O' : 'X')}}</h4>
            </div>
          </div>
        </div>
        <span *ngFor="let item of board; let i = index" class="board col s4 center-align" (click)="select(i)">{{['', 'x', 'o'][item]}}</span>
      </div>
    </div>
  </div>
</div>
