.nav {
    justify-content: center;
    display: flex;
    position: fixed;
    width: 100vw;
    padding: 8px 0;
    z-index: 99;
    background-color: #ffffff;
    opacity: 0;
    animation: 1s 0.5s slideInTop forwards;
}

.nav  a {
    font-size: x-large;
    padding: 8px 10px;
    margin: 0 4px;
    color: rgba(0,0,0,.6);
    text-decoration: none;
    cursor: pointer;
    background-color: #ffffff;
    transition: background-color .3s, border-radius .3s;
}

.nav a.active {
    background-color: #000000 ;
    color: black;
}
@media (min-width: 480px) {
    .nav {
        background-color: unset;
        justify-content: flex-end;
        padding: 0;
        top: 8px;
    }
    .nav a {
        padding: 16px 16px 8px 16px;
        margin: 0 1rem 0 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .nav a.active {
        border: black 1px solid;
        background-color: #ffffff;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
}
