.project {
    padding: 16px 64px;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
.project > * {
    display: block;
}
.project > div {
    max-width: 70vw;
}
.project > div > a{
    padding: 12px 16px;
    background-color: #ffffffcc;
    font-size: medium;
    border-radius: 25px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    position: relative;
    top: 2rem;
    box-shadow: 3px 4px 5px 2px rgba(255, 255, 255, 0.1), 1px 2px 2px 1px rgba(200, 200, 200, 0.3);
}
.project > div > a:hover{
    background-color: #ffffffee;
}