.card {
    background-color: aliceblue;
    min-height: 50vh;
    max-height: 50vh;
    display: inline-block;
    align-items: center;
    justify-content: space-evenly;
}

.card > div {
    max-width: 80vw;
}
.card > .logos > img {
    margin-top: 5rem;
    border-radius: 25px;
    width: 100px;
    height: 100px;
    background-color: white;
    cursor: pointer;
}
.card > .logos > img {
    width: 125px !important;
    height: 125px !important;
    max-height: 100px !important;
    max-width: 100px !important;
}

.card-descr {
    text-align: justify;
}

/*@media (max-width: 480px) {*/
/*    .card{*/
/*        display: inline-block;*/
/*    }*/
/*    .card > div{*/
/*        max-width: 90vw;*/
/*    }*/
/*    .card > .logos > img{*/
/*        margin-top: 3rem;*/
/*        border-radius: 15px;*/
/*        cursor: pointer;*/
/*        max-width: 75px;*/
/*        max-height: 75px;*/
/*    }*/
/*}*/
@media (min-width: 767px) {
    .card {
        display: flex;
    }
    .card > div {
        max-width: 33vw;
    }

    .card > .logos > img {
        max-width: 125px !important;
        max-height: 125px !important;
        margin-top: 0;
    }


}