<div class="row">
  <span>Winner: {{winner}}</span>
</div>
<div class="row center">
  <canvas id="cnvs" height="720" width="720" class="center"></canvas>
</div>
<div class="dialC center">
  <img src="/assets/spinnerdial.png" width="20px" height="20px" class="dial">
</div>
<div class="row center">
  <a id="spinbtn" class="waves-effect black waves-light btn-large" (click)="spinWheel()"><i class="material-icons left">rotate_left</i>Spin!</a>
</div>
<div class="row center">
        <div id="namesTab">
          <label>Contestant
            <input type="text" (keyup.enter)="addContestant()" [(ngModel)]="contestant">
          </label>
          <a class="btn waves-effect waves-light right" (click)="addContestant()" style="background-color:#000000;"><i
            class="material-icons">add</i></a>
          <div>
            <span>Contestant Name</span>
            <span>Remove</span>
          </div>
          <div *ngFor="let name of names" class="contestant-wrapper center">
            <span>{{name}}</span>
            <a (click)="removeSelectedContestant(name)" class="btn black material-icons" style="cursor:pointer;">X</a>
          </div>
        </div>
        <div id="colorsTab">
          <div class="row">
            <div class="input-field col s10">
              <span>Color</span>
              <input type="color" [(ngModel)]="color">
              <input type="DOMString" [(ngModel)]="color" (keyup.enter)="addColor();">
            </div>
            <div class="col s2">
              <a class="btn waves-effect waves-light right" style="background-color:#000000;" (click)="addColor()"><i
                class="material-icons">add</i></a>
            </div>
          </div>
          <table>
            <thead>
            <tr>
              <th>Color</th>
              <th>Remove</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let color of colors">
              <td>{{color}}</td>
              <td><a (click)="removeSelectedColor(color)" class="btn black material-icons" style="cursor:pointer;">X</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
</div>
