.header {
    min-height: 80vh;
    max-height: 80vh;
    background-color: #7bc9ff;
    z-index: 1;
}
.HeaderBox {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    text-align: center;
    margin: auto;
    width: fit-content;
    top: 35%;
}
.HeaderBox .Chibi{
    width: 300px;
}
.HeaderBox  h1{
    font-size: 5rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
}
.HeaderBox h2 {
    color: white;
}