.achievements{
  display: block;
}
.achievements > img {
  flex-shrink: 0;
  transition: all 1s;
  z-index: 31;
  position: absolute;
  left: 50%;
  margin-left: 125px;
}
.achievements > img:hover {

  transform: scale(2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.card {
  padding: 16px;
  opacity: 0;
  border-radius: 16px;
  animation: 1s ease-out slideInFromLeft forwards;
  left: 50%;
  width: 80%;
  margin-left: -40%;
}
.card:not(#card0){
  margin-top: 96px;
}
.card-content{
  padding: 0;
}
.card-content > div{
  margin-top: 16px;
  padding-top: 0;
  font-size: large;
}
.chain_right{
  height: 64px;
  padding: 16px;
  background-color: white;
  position: absolute;
  left: 85%;
  bottom: -80px;
  border-radius: 20px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.chain_left{
  height: 64px;
  padding: 16px;
  background-color: white;
  position: absolute;
  left: 75%;
  bottom: -80px;
  border-radius: 20px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.container {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 65%;
  height: 120%;
  width: 100%;
}
.image-wrapper {
  width: 100px;
  height: 64px;
  position: absolute;
  top: -64px;
  left: 24px;
  display: inline;
  background-color: white;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 0 -2px 4px 2px rgba(0, 0, 0, 0.08);
}
.language {
  text-align: center;
}
.language > h1 {
  font-size: 64px;
  text-transform: uppercase;
  font-weight: 500;
  background: linear-gradient(to right,#eaf6ff 10%, #6bacd8 50%, #000000 60%, #eaf6ff);
  background-size: 200% auto;
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: textclip 1.5s linear infinite;
  animation: textclip 24s linear
}
@keyframes textclip {
  to {
    background-position:200% center
  }
}
.right-arrow-btn{
  left: 99.9%;
  position: absolute;
  background-color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px;
  bottom: 16px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  height: fit-content;
}
.right-arrow-btn > i{
  cursor: pointer;

}
.year-wrapper {
  position: absolute;
  left: 150px;
  height: 48px;
  top: -48px;
  width: 100px;
  display: inline;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 0 -2px 4px 2px rgba(0, 0, 0, 0.08);
}
.year-wrapper > div {
  width: max-content;
  left: 83%;
  content: 'YoE';
  position: absolute;
  font-size: 1.75rem;
  font-weight: 600;
  background-color: white;
  padding: 8px 16px 4px 8px;
  border-top-right-radius: 20px;
  box-shadow: 2px -2px 4px 0 rgba(0, 0, 0, 0.08);
}
.year-wrapper > h4 {
  max-width: 100px;
  position: absolute;
  background-color: white;
  font-weight: 800;
  padding-bottom: 48px;
  width: 100%;
  left: 0%;
  line-height: 1% !important;
}
.image-wrapper > img {
  max-width: 100px;
  position: absolute;
  border: white;
  border-style: solid;
  border-width: 10px;
  border-radius: 20px;
  left: 0;
}
.title {
  font-weight: 800;
  color: transparent;
  font-size: 120px;
  background: url("/assets/images/backgrounds/yangbg3.png") repeat;
  background-position: 20% 100%;
  object-fit: cover;
  -webkit-background-clip: text;
  background-size: 960px 540px;
  position: relative;
  text-align: center;
  line-height: 90px;
  letter-spacing: -8px;
  text-shadow: rgba(40, 50, 50, 20%) 1px 0 10px;
  z-index: 1;
}
.self-img {
  width: 250px;
  border-radius: 64px;
  position: relative;
  top: 0;
  left: 50%;
  margin-left: -200px;
  max-width: 250px;
  margin-bottom: -94px;
  cursor: pointer;
}
.socialmedia-wrapper {
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: -58px;
  z-index: 5;
  background: #ffffff99;
  padding: 4px;
  border-radius: 20px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.socialmedia-wrapper > li{
  cursor: pointer;
}
#card0{
  margin-top: 15vh;
}
#date {
  padding-right: 16px;
}

@media (min-width: 1281px) {
  .socialmedia-wrapper {
    left: 50%;
    margin-left: 121px;
    top: 22px;
  }
  .self-img {
    margin-left: -125px;
  }
  .title {
    font-weight: 800;
    font-size: 88px;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  .self-img {
    margin-left: -125px;
  }
  .title {
    font-weight: 800;
    font-size: 88px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .year-wrapper > div {
    content: "Years of Experience";
  }
  .self-img {
    margin-left: -100px;
    max-width: 200px;
  }
  .title {
    font-weight: 800;
    font-size: 88px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .year-wrapper > div {
    content: "Years of Experience";
  }
  .self-img {
    margin-left: -100px;
    max-width: 200px;
  }
  .title {
    font-weight: 800;
    font-size: 88px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .year-wrapper > div {
    content: "YoE";
  }
  .self-img {
    margin-left: -100px;
    max-width: 200px;
  }
  .title {
    font-weight: 800;
    font-size: 80px;
  }

}
@media (min-width: 320px) and (max-width: 480px) {
  .year-wrapper {
    left: 135px;
    height: 24px;
    top: -24px;
    width: 50px;
    display: inline;
  }
  .year-wrapper > h4 {
    font-weight: 600;
    padding-right: 8px;
    padding-bottom: 24px;
    font-size: 1.75rem;
  }
  .year-wrapper > div{
    left: 70%;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 6px 12px 0 10px;
    margin-left: 1px;
    border-top-right-radius: 20px;
  }
  .self-img {
    margin-left: -100px;
    max-width: 200px;
  }
  .title {
    font-weight: 700;
    font-size: 72px;
  }
  .card-content > div{
    font-size: medium;
  }
}
@media (max-width: 320px) {
  .year-wrapper {
    display: none;
  }
  .self-img {
    margin-left: -100px;
    max-width: 200px;
  }
  .title {
    font-weight: 700;
    font-size: 64px;
  }
  .card-content > div {
    font-size: small;
  }
}
@keyframes slideInFromLeft {
  0% {
    opacity:0;
    transform: translateY(-100%);
  }
  40%{
    opacity: 0;
  }
  80%{
    transform: translateY(0%);
  }
  90%{
    transform: translateY(1%);
  }
  100% {
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    opacity: 1;
    transform: translateY(0);
  }
}

