<div class="parallax-container">
  <div class="parallax"><img src="../../assets/images/backgrounds/yangbg.png"/>
    <div class="center-align header-container">
    </div>
  </div>
  <h1>BLOG</h1>
</div>
<div class="container">
  <div class="row"  id='test' >
    <div class="card hoverable"*ngFor="let card of activePosts; let x = index" [style.animation-delay]="x*0.5+'s'">
      <div class="card-title">
        <span>{{card.title}}</span>
        <span id="date" class="right">{{card.date}}</span>
      </div>
      <div class="card-content">{{card.content}}</div>
      <div class=" gallery center-align " *ngIf="card.images != undefined">
        <a *ngFor="let i of card.images" target="_blank" [href]="i"><img class="image hoverable" [src]="i"></a>
      </div>
      <div class="center" *ngFor="let embed of card.embedded; let y = index">
        <div *ngIf="embed.length > 0" class="embedded" [id]="'embedded'+(x+y)"></div>
      </div>
    </div>
  </div>
  <ul class="pagination center" *ngIf="NumOfPages.length <= 1 ? null : ' '">
    <li (click)="changeLastPage(false);" *ngIf="pageIndex <= 0 ? null : ' '"><i class="material-icons">fast_rewind</i></li>
    <li (click)="changePage(false);" *ngIf="pageIndex <= 0 ? null : ' '"><i class="material-icons">chevron_left</i></li>
    <li *ngFor="let i of NumOfPages" (click)="pageIndex = i; this.updatePage();"><a [class.dissabled]="pageIndex == i ? null : ' '" [style.backgroundColor]="checkActivePage(i)">{{i+1}}</a></li>
    <li (click)="changePage(true);" *ngIf="pageIndex < (Posts.length/amtPostsShown)-1 ? ' ' : null"><i class="material-icons">chevron_right</i></li>
    <li (click)="changeLastPage(true);" *ngIf="pageIndex < (Posts.length/amtPostsShown)-1 ? ' ' : null"><i class="material-icons">fast_forward</i></li>
  </ul>
</div>
