.HeaderBox {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    text-align: center;
    margin: auto;
    width: fit-content;
    top: 20%;
}
.HeaderBox .ChibiFrame {
    margin-left: unset;
}
.HeaderBox .Chibi{
    width: 100px;
}
.HeaderBoxText {
    margin-left: 1rem;
}
.HeaderBox  h1{
    font-size: 3rem;
    margin: 0;
    font-family: "Super Sunday", serif;
}
.HeaderBox h2 {
    margin-top: 0;
    color: white;
    font-family: "Gently", serif;
}
@media (min-width: 480px) {
    .HeaderBox .HeaderBoxText h1 {
        font-size: 4rem;
    }
    .HeaderBox .Chibi {
        width: 200px;
    }
}
@media (min-width: 720px) {
    .HeaderBox {
        top: 25%;
    }
    .HeaderBox .HeaderBoxText {
        margin-left: 2rem;
    }
    .HeaderBox  h1{
        font-size: 5rem;
    }
    .HeaderBox .Chibi{
        width: 300px;
    }
}