
#donate {
  line-height: 0;
  color: #00000077;
  cursor: pointer;
  font-weight: 700;
  padding: 21px 12px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  position: absolute;
  margin-left: -158px;
  top: -11px;
  border-radius: 20px;
  left: 50%;
  font-size: large;
  background-color: #ffffff99;
  transform: rotateZ(-45deg);
  -webkit-animation: pulse2 4s infinite;
  -o-animation: pulse2 4s infinite;
  animation: pulse2 4s infinite;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
i {
  border-radius: 100%;
  background-color: rgba(100, 100, 100, 80);
  -webkit-animation: bounce 1s infinite;
  animation: bounce 1s infinite;
  position: absolute;
  margin-right: 16px;
  top: 85vh;
  font-size: 25px;
  z-index: 1000;

}

.container {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 65%;
  height: 120%;
  width: 100%;
}

.data {
  margin-top: 15vh;
}

.description {
  opacity: 0;
  display: inline;
  position: absolute;
  width: 800px;
  height: 90px;
  padding: 16px;
  color: #fff;
  background: #000000dd;
  border-radius: 20px;
  left: 0;
  z-index: 21;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
}

.description:hover {
  opacity: 1;
  cursor: pointer;
}

.parallax-container {
  position: relative;
  left: 50%;
  margin-left: -400px;
}

.parallax-container .parallax {
  background-color: #00acc1;
  z-index: 1;
  overflow: inherit;
  border-radius: 20px;
  width: 800px;
  height: 90px;
  padding: 16px;
  margin-bottom: 10px;
  position: relative;
  text-align: center;
  color: rgba(0, 0, 0, 20);
  font-size: xx-large;
  cursor: pointer;
}

.parallax-container .parallax:hover {
  display: block;
  text-align: center;
  background-image: none;
  color: rgba(255, 255, 255, 0);
  opacity: 1;
  z-index: 1;
  transition: 1s;
}

.parallax-container .parallax > span {
  z-index: 1;
  opacity: 0;
  transition: 3s;
  position: relative;
  display: flex;
  padding: 0;
  bottom: 50px;
  font-size: large;
}

.parallax-container .parallax:hover > span {
  opacity: 1;
  color: white;
  background-color: #29292970;
}

.project {
  animation: 1s ease-out slideInFromLeft forwards;
  margin-bottom: 20px;
}

.project > .h1 {
  position: relative;
  font-size: xx-large;
  top: 86px;
  z-index: 2;
  margin-top: -48px;
  font-weight: bold;
  transition-duration: 1s;
}

.self-img {
  margin-left: -100px;
  max-width: 200px;
  margin-bottom: -94px;
  cursor: pointer;
  border-radius: 64px;
  position: relative;
  top: 0;
  left: 50%;
}

.title {
  font-weight: 800;
  color: transparent;
  font-size: 120px;
  background: url("/assets/images/backgrounds/yangbg3.png") repeat;
  background-position: 20% 100%;
  object-fit: cover;
  -webkit-background-clip: text;
  background-size: 960px 540px;
  position: relative;
  text-align: center;
  line-height: 72px;
  letter-spacing: -8px;
  text-shadow: rgba(40, 50, 50, 20%) 1px 0px 10px;
  margin-top: 16px;
}

.socialmedia-wrapper {
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: -58px;
  z-index: 5;
  background: #ffffff99;
  padding: 4px;
  border-radius: 20px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.socialmedia-wrapper > li {
  cursor: pointer;
  margin-bottom: 0;
}

.subtitle {
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
}

@keyframes bounce {
  0%, 100% {
    transform: translate(0px, 0px);
  }

  20% {
    transform: translate(0, 20px);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
100%{
  opacity: 1;
  }
}
/* Section - Title */
/**************************/
.parallax-container {
  overflow: hidden;
  height: fit-content;
  width: max-content;
}

/* Section - Parallax */
/**************************/
.parallax > img {
  z-index: 0;
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: repeat;
  background-position: top center;
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  .description {
    width: 800px;
    height: 90px;
    padding: 16px;
    border-radius: 20px;
    font-size: large;
  }

  .parallax-container {
    margin-left: -400px;
  }

  .parallax-container .parallax {
    border-radius: 20px;
    width: 800px;
    height: 90px;
    padding: 16px;
    margin-bottom: 10px;
    font-size: xx-large;
  }

  .self-img {
    max-width: 250px;
    margin-left: -125px;
  }

  .socialmedia-wrapper {
    left: 50%;
    margin-left: 121px;
    top: 22px;
  }

  .title {
    font-weight: 800;
    font-size: 88px;
  }

  .project {
    margin-bottom: 0;
  }

  .project > .h1 {
    font-size: xx-large;
    position: relative;
    top: 60px;
    display: inline;
    max-width: 800px;
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  .description {
    width: 800px;
    height: 90px;
    padding: 16px;
    border-radius: 20px;
    font-size: large;
  }

  .parallax-container {
    margin-left: -400px;
  }

  .parallax-container .parallax {
    border-radius: 20px;
    width: 800px;
    height: 90px;
    padding: 16px;
    margin-bottom: 10px;
    font-size: x-large;
  }

  .self-img {
    max-width: 250px;
    margin-left: -125px;
  }

  .socialmedia-wrapper {
    left: 50%;
    margin-left: 121px;
    top: 22px;
  }

  .title {
    font-weight: 800;
    font-size: 88px;
  }

  .project {
    margin-bottom: 0;
  }

  .project > .h1 {
    font-size: xx-large;
    position: relative;
    top: 60px;
    display: inline;
    max-width: 600px;
  }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  #donate {
    margin-left: -135px;
    font-size: medium;
  }
  .description {
    width: 650px;
    height: 90px;
    padding: 16px;
    border-radius: 20px;
    font-size: medium;
  }

  .parallax-container {
    margin-left: -325px;
  }

  .parallax-container .parallax {
    border-radius: 20px;
    width: 650px;
    height: 90px;
    padding: 16px;
    margin-bottom: 10px;
    font-size: large;
  }

  .title {
    font-weight: 800;
    font-size: 88px;
  }

  .project {
    margin-bottom: 0;
  }

  .project > .h1 {
    font-size: xx-large;
    position: relative;
    top: 60px;
    display: inline;
    max-width: 600px;
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  #donate {
    margin-left: -135px;
    font-size: medium;
  }
  .description {
    width: 600px;
    height: 90px;
  }

  .parallax-container {
    margin-left: -300px;
  }

  .parallax-container .parallax {
    border-radius: 20px;
    width: 600px;
    height: 90px;
    padding: 16px;
    margin-bottom: 10px;
  }

  .title {
    font-weight: 800;
    font-size: 88px;
  }

  .project {
    margin-bottom: 0;
  }

  .project > .h1 {
    font-size: xx-large;
    top: 60px;
    max-width: 600px;
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  #donate {
    margin-left: -135px;
    font-size: medium;
  }
  .description {
    width: 400px;
    height: 85px;
  }

  .parallax-container {
    margin-left: -200px;
  }

  .parallax-container .parallax {
    width: 400px;
    height: 85px;
    margin-bottom: 10px;
  }

  .title {
    font-weight: 800;
    font-size: 80px;
  }

  .project {
    margin-bottom: 48px;
  }

  .project > .h1 {
    font-size: x-large;
    top: 60px;
    max-width: 400px;
    left: 50%;
    margin-left: -200px;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  #donate {
    margin-left: -135px;
    font-size: medium;
  }
  .description {
    width: 300px;
    height: 80px;
  }

  .parallax-container {
    margin-left: -150px;
  }

  .parallax-container .parallax {
    width: 300px;
    height: 80px;
    margin-bottom: 10px;
  }

  .title {
    font-weight: 700;
    font-size: 72px;
  }

  .project {
    margin-bottom: 32px;
  }

  .project > .h1 {
    font-size: x-large;
    top: 60px;
    max-width: 250px;
    left: 50%;
    margin-left: -125px;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (max-width: 320px) {
  #donate {
    margin-left: -135px;
    font-size: medium;
  }
  .data {
    margin-top: 10vh;
  }

  .description {
    width: 150px;
    height: 75px;
    font-size: x-small;
  }

  .parallax-container {
    margin-left: -75px;
  }

  .parallax-container .parallax {
    width: 150px;
    height: 75px;
    margin-bottom: 10px;
  }

  .title {
    font-weight: 700;
    font-size: 64px;
  }

  .project {
    margin-bottom: 24px;
  }

  .project > .h1 {
    font-size: medium;
    top: 50px;
    max-width: 150px;
    left: 50%;
    margin-left: -75px;
  }
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
@keyframes pulse2 {
  0% , 100% {transform: scale(1) rotateZ(315deg)} 50% {transform: scale(0.95) rotateZ(315deg)}
}
@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  40% {
    opacity: 0;
  }
  80% {
    transform: translateY(0%);
  }
  90% {
    transform: translateY(1%);
  }
  100% {
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 1;
    transform: translateY(0);
  }
}
