.SlantedOutlinedHeaderWrapper{
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100vw;
    padding: unset;
    margin: 0;
}
.SlantedOutlinedHeader {
    display: flex;
    justify-content: space-evenly;
    font-weight: bolder;
    font-style: italic;
    border-bottom-style: solid;
    position: relative;
    width: 102%;
}
.SlantedOutlinedHeader > p {
    margin-bottom: -2.5rem;
}

.SlantedOutlinedHeader > p  > span{
    opacity: 0;
}



